@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');


/* *********************** TABLE OF CONTENTS ********************* */
/* ROOT/SHARED                                                     */
/* --> LVL-COLS/LVL-ROWS/SECTION-BOT-PAD                           */
/* --> .NONE/.FLEX                                                 */
/* HEADER AND NAV                                                  */
/* --> STATUS BANNER                                               */
/* --> NEW TASK FORM/NEW FOLDER FORM  & UPDATE TASK/UPDATE FOLDER  */
/* --> NEW TASK FORM PRIORITY FLAG SWITCH                          */
/* FOLDER CONTENT/TASK CONTENT                                     */
/* MEDIA QUERIES                                                   */
/* *********************** TABLE OF CONTENTS ********************* */


/* ROOT/SHARED                                                     */

:root {
    /* Colors */
 --bkgd: rgb(144, 144, 146);
 --sea: #acc9e9;
 /* --line: #337bcc; */
 --line: white;
 --sunk: #e9acac;  
 --player1: #7da8f6;
 --player1acc: #678aca;
 --player2: #f67d7d;
 --player2acc: #ca6767;
 --pur: #af9fb5;
 --blu: #9292c3;
 /* --blu: black; */
 --grn: #7b827b;
 --yel: #dbcf90;
 --org: #b49e74;
 --red: #905e5e;
 --font-fancy: "Black Ops One", serif;
 --font-emoji:  "Noto Color Emoji", serif;
}

.font-fancy {
    font-family: var(--font-fancy);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bkgd); 
    margin: 0;
}

/* .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

#header {
    padding: 1rem;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-text {
    font-size: 1.5rem;
}

#MMM {
    font-size: .8rem;
    text-align: center;
}

#game-content {
    /* height: fit-content;
    width: 22rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    /* background-color: #ffb6c1; */
}


#board-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: var(--sea); */
    /* margin: 1rem; */
}

#p1-full-board, #p2-full-board {
    height: 22rem;
    width: 22rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    font-family: var(--font-emoji);
    /* margin: .5rem; */
    overflow: visible;
}

#p1-full-board {
    border: 16px solid darkblue;
}

#p2-full-board {
    border: 16px solid darkred;
}


#p1-ship-board, #p2-ship-board, #p1-status-board, #p2-status-board {
    height: 20rem;
    width: 22rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: visible;
}


#p1-ship-board, #p2-ship-board{
    background-color: var(--sea);
    z-index: -1;
}

/* Negative margins cause the overlapping */
#p1-status-board, #p2-status-board{
    /* z-index: -2; */
    margin-top: -20rem; 
}



/* .board-cell1, .board-cell2 {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: .25px solid var(--line);
    font-size: 100%;

    text-align: center;
} */

.ship-cells1, .ship-cells2, .hit-miss-cells1, .hit-miss-cells2  {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--sea); */
    border: .25px solid var(--line);
    font-family: var(--font-emoji);
    font-size: 100%;
    /* margin: .25rem; */
    /* opacity: .5; */
    text-align: center;
}

.ship-cells1, .ship-cells2 {
    /* background-color: red; */
        /* background-color: var(--sea); */
    /* z-index: 0 */
}

.hit-miss-cells1, .hit-miss-cells2 {
    /* background-color: none; */
    /* z-index: 10 */
}

.sunk {
    background-color: var(--sunk);
}

/* .test {
    height: 5rem;
    width: 5rem;
    background-color: red;

} */

.ship {
/* height: 2rem; */
/* width: auto; */
/* change background if sunk!!! */
/* background-color: var(--sunk);  */
/* transform: rotate(90deg); */
/* z-index: 1; */
}

.hit {
/* height: 2rem; */
/* width: auto; */
/* background-color: none; */
/* transform: rotate(180deg); */
/* transition: transform 0.5s ease; */
/* z-index: 10; */
}
