@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

/* *********************** TABLE OF CONTENTS ********************* */
/* ROOT/SHARED                                                     */
/* --> LVL-COLS/LVL-ROWS/SECTION-BOT-PAD                           */
/* --> .NONE/.FLEX                                                 */
/* HEADER AND NAV                                                  */
/* --> STATUS BANNER                                               */
/* --> NEW TASK FORM/NEW FOLDER FORM  & UPDATE TASK/UPDATE FOLDER  */
/* --> NEW TASK FORM PRIORITY FLAG SWITCH                          */
/* FOLDER CONTENT/TASK CONTENT                                     */
/* MEDIA QUERIES                                                   */
/* *********************** TABLE OF CONTENTS ********************* */

/* ROOT/SHARED                                                     */

:root {
  /* Colors */
  --bkgd: #242a26;
  --bkgd2: #a7aaac;
  /* --gray: #7f8680; */
  /* --green: #627264; */
  --green: #444e45;
  --text: #1a1918;
  --sea: #8fa4bd;
  /* --sea-lt: #bdd2ed; */
  /* --sea-lt: #8297b1; */
  /* --sea-dk: #2e64a6; */
  /* --sea-dk: #0D79F2; */
  --line: #ceced6;
  --hit: #aa7763;
  --miss: #52667f;
  --sunk: #524753;
  --loser: #903a3a;
  --radar: #374713;
  --player1: #2f2f4f;
  --player1-text: #a8a8b4;
  --player2: #3c4a3e;
  --player2-text: #a8b4a9;
  /* --enemy: #fecc03; */
    --enemy: #fec803;
  /* --box-shadow-gray: 0 3px 6px var(--gray); */
  --box-shadow-green: 0 5px 10px var(--green);
  --font-fancy: "Black Ops One", sans-serif;
  --font-emoji: "Noto Color Emoji", sans-serif;
}

.font-fancy {
  font-family: var(--font-fancy);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--bkgd); */

  background: linear-gradient(5deg, var(--bkgd), var(--bkgd2));

  margin: 0;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);
  padding: 1rem;
}

#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#title-text {
    /* font-size: 1.5rem; */
  font-size: 2.5rem;
  text-align: center;
    /* text-decoration: underline; */
  text-transform: uppercase;
  /* color: #4b5320; */
}

#MMM {
  font-size: 0.95rem;
  text-align: center;
}

#gif-container {
  height: auto;
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--text); */
  border-radius: 1rem;
  /* margin: 1rem; */
  margin: -.25rem;
  padding: 1rem;
}

.gif {
  height: 22rem;
  width: 22rem;
  /* border: 0.5rem solid var(--text); */
    border: 0.5rem double var(--text);
  border-radius: 50%;
  box-shadow: var(--box-shadow-green);
  filter: grayscale(60%) sepia(60%);
  /* transform: rotate(0.5deg); */
  /* animation: noise 0.1s infinite alternate; */
  /* filter: grayscale(80%) sepia(40%) contrast(120%) brightness(90%); */
  /* padding: 1rem; */
}

.text-effect-dark {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(0, 0, 0, 0.3),
    2px 2px 3px rgba(0, 0, 0, 0.3);
}

/* .text-effect-light {
    text-shadow: 
    1px 1px 2px rgba(255, 255, 255, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.4),
    2px 2px 3px rgba(255, 253, 253, 0.4);
} */

#messages {
  height: fit-content;
  width: 24rem;
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
  /* background-color: var(--text); */
  /* background-color: var(--enemy); */
    background-color: var(--line);
  /* border: 0.5rem double var(--text); */
    /* border: .125rem solid var(--text); */
        border: .125rem solid var(--loser);
  border-radius: 1rem;
  box-shadow: var(--box-shadow-green);
  /* color: var(--line); */
  color: var(--loser);
  font-family: var(--font-fancy);
  font-size: 1rem;
  /* margin-bottom: 1rem; */
  /* padding: 0.5rem; */
  /* text-align: center; */
  /* text-shadow: 
    1px 1px 2px rgba(255, 255, 255, 0.25), 
    -1px -1px 2px rgba(255, 255, 255, 0.25),
    2px 2px 3px rgba(255, 253, 253, 0.25); */
}

#message-bar {
  /* height: fit-content; */
  height: 7rem;
  width: 22rem;
  display: flex;
  /* align-items: start;
  justify-content: start; */
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  /* text-wrap: wrap; */
  /* background-color: var(--enemy); */
}

#main-btn-container {
  height: auto;
  width: 22rem;
  /* background-color: var(--line); */
  border-radius: 1rem;
  /* box-shadow: var(--box-shadow-green); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--font-fancy);
  /* margin: 5rem; */
  /* text-align: center; */
}

.btn-a {
  /* height: 3rem; */
  /* height: auto; */
  /* height: fit-content; */
  height: 3.75rem;
  width: 24rem;
  /* width: fit-content; */
  background-color: var(--line);
  border: .125rem solid var(--text);
  border-radius: 1rem;
  box-shadow: var(--box-shadow-green);
  color: var(--text);
  font-family: var(--font-fancy);
  font-size: 1.25rem;
  margin: 0.5rem;
  outline: none;
  /* padding: 0.25rem; */
  padding: .5rem;
}

.btn-a:hover {
  background-color: var(--enemy);
  scale: 1.05;
}

.btn-a:active {
  background-color: var(--text);
  color: var(--enemy);
  scale: 0.95;
}

.btn-b {
  height: 2rem;
  width: 4.25rem;
  background-color: var(--line);
  border: none;
  border-radius: 1rem;
  box-shadow: var(--box-shadow-green);
  color: var(--text);
  font-family: var(--font-fancy);
  font-size: 0.875rem;
  /* gap: 1rem; */
  margin: 0.25rem;
  outline: none;
  padding: 0.125rem;
}

.btn-b:hover {
  background-color: var(--enemy);
  scale: 1.05;
}

.btn-b:active {
  background-color: var(--text);
  color: var(--enemy);
  scale: 0.95;
}


/* TODO - CONSOLIDATE THESE IF THERE ARE NO ADDITIONAL CHANGES! */
#btn-pvsc, #btn-pvsp, #btn-quit-game, #btn-start-game, #btn-hide-screen, #btn-unlock-screen  {
display: flex;
align-items: center;
justify-content: center;
}

#btn-unlock-screen {
  background-color: var(--loser);
  color: var(--enemy);
}

/* #btn-pvsc:active {
  background-color: var(--player1);
}
#btn-pvsp:active {
  background-color: var(--player2);
} */

/* @keyframes noise {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-2px, -2px); }
} */

#game-content {
}

#board-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#p1-full-board,
#p2-full-board {
  /* height: 49rem; */
  /* height: 72.5rem; */
  height: fit-content;
  width: 24rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: .5rem double;
  /* border-left: 1rem solid;
  border-right: 1rem solid;
  border-bottom: 1rem solid;
  border-top: 0.75rem solid; */
  border-radius: 1rem;
  color: var(--line);
  font-family: var(--font-fancy);
  font-size: 1.5rem;
  margin: 0.25rem;
  padding: 0.25rem;
  overflow: visible;
  text-transform: uppercase;
  /* z-index: -1; */
 }

#p1-full-board {
  background-color: var(--player1);
  border-color: var(--player1-text);
  color: var(--player1-text);
  display: none;
  /* perspective: 1000px; */
}

#p2-full-board {
  background-color: var(--player2);
  border-color: var(--player2-text);
  color: var(--player2-text);
  display: none;
    /* display: flex; */
}

.flip-full-board {
  background-color: red;

}

#p1-deployment-zone,
#p1-target-zone,
#p2-deployment-zone,
#p2-target-zone {
  height: 23rem;
  width: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font-fancy);
  font-size: 1rem;
  margin: 0.125rem;
  overflow: visible;
  text-transform: uppercase;
  /* z-index: 0; */
}

#p1-place-ships,
#p2-place-ships,
#p1-deployment-zone,
#p2-deployment-zone {
  color: var(--line);
}

#p1-place-ships,
#p2-place-ships {
  height: fit-content;
  width: 20rem;
  /* display: none; */
  /* display: flex; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  /* background-color: var(--loser); */
  /* padding: .25rem; */
  font-family: var(--font-fancy);
  font-size: 1rem;
  margin: 0.125rem;
  text-align: center;
  text-transform: none;
}

#p1-place-ships {
  display: flex;
  /* display: none; */
}

#p2-place-ships {
  display: flex;
  /* display: none; */
}

/* #p1-circle, #p2-circle {
  height: 14rem;
  width: 14rem;
display: flex;
align-items: center;
justify-content: center;
background-color: #8fa4bd;
border-radius: 50%;
margin: -1rem;

}

.radar-screen {
  height: 14rem;
  width: 14rem;
} */

#p1-x5-grid,
#p2-x5-grid {
  height: 12rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  /* background-color: var(--hit); */
  /* background-color: var(--sea); */
  background-image: url("/src/assets/radarScreen.svg");
  background-color: var(--sea);
  /* border: .125rem dotted var(--green); */
  /* border-radius: .75rem; */
  border-radius: 100%;
  /* box-shadow: 0px 0px 40px 0px #0ff; */
  /* padding: 0rem 0rem -.0125rem 0rem; */
  margin: .5rem;
  /* animation:spin 100s linear infinite; */

  /* 
    transform: rotate(0deg); */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .place-ship {
  height: 2rem;
} */

/* #place-a, #place-b, #place-d, #place-s, #place-c {
  height: 2rem;
}

#place-a:hover, #place-b:hover, #place-d:hover, #place-s:hover, #place-c:hover {
  scale: 2;
}
#place-a:active, #place-b:active, #place-d:active, #place-s:active, #place-c:active {
  scale: 1.25;
} */

.all-p1-place-ships,
.all-p2-place-ships {
  height: 2rem;
}

.all-p1-place-ships:hover,
.all-p2-place-ships:hover {
  scale: 1.25;
}

.all-p1-place-ships:active,
.all-p2-place-ships:active {
  scale: 1.1;
}

/* #place-a1,
#place-a2 {
  margin: 1.5rem 0rem .75rem 0rem;
} */

/* .ship-c {
  margin-top:-.25rem
 } */

#p1-place-ship-btn-container, #p2-place-ship-btn-container {
  height: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: yellow; */
}

#p1-target-zone,
#p2-target-zone {
  color: var(--enemy);
}

#p1-target-zone {
  display: none;
}

#p2-target-zone {
  display: none;
  /* display: flex; */
}

#p1-ship-board,
#p2-ship-board,
#p1-hit-miss-board,
#p2-hit-miss-board,
#p1-target-ship-board,
#p2-target-ship-board,
#p1-target-hit-miss-board,
#p2-target-hit-miss-board {
  height: 20rem;
  width: 22rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

#p1-ship-board,
#p2-ship-board {
  background-color: var(--sea);
  /* z-index: -1; */
}

#p1-target-ship-board,
#p2-target-ship-board {
  background-color: var(--sea);
  /* z-index: -1; */
}

/* Negative margins cause the overlapping */
#p1-hit-miss-board,
#p2-hit-miss-board,
#p1-target-hit-miss-board,
#p2-target-hit-miss-board {
  height: auto;
  width: 22rem;
  font-family: var(--font-emoji);
  /* z-index: -2; */
  margin-top: -21.25rem;
}

.ship-cells1,
.ship-cells2,
.ship-target-cells1,
.ship-target-cells2,
.hit-miss-cells1,
.hit-miss-cells2,
.hit-miss-target-cells1,
.hit-miss-target-cells2 {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-emoji);
  font-size: 100%;
  text-align: center;
}

.ship-cells1,
.ship-cells2 {
  border: 0.085rem dashed var(--line);
}

.ship-target-cells1,
.ship-target-cells2 {
  border: 0.085rem dashed var(--enemy);
}

.hit-miss-cells1,
.hit-miss-cells2 {
  z-index: 10;
}

.sunk {
  background-color: var(--sunk);
}

.ship {
  height: 2rem;
  /* width: .25rem; */
}

.hit {
}

.mouse-deploy {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.mouse-target {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.mouse-deploy:hover {
  background-color: var(--line);
  border: 0.125rem dashed var(--loser);
  opacity: 0.65;
  scale: 1.15;
}

.mouse-deploy:active {
  border-radius: 50%;
  scale: 1;
}

.mouse-target:hover {
  background-color: var(--enemy);
  border: 0.5rem solid var(--loser);
  border-radius: 50%;
  opacity: 0.6;
  scale: 1.75;
}

.mouse-target:active {
  /* background-color: var(--loser);
  border: 0.5rem solid var(--enemy); */
  border-radius: 50%;
  /* opacity: 1; */
  scale: 1;
}

/* .flip-full-board {
  background-color: var(--loser);
} */