@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

/* ***** TABLE OF CONTENTS *********************************** */

/* ROOT/SHARED/GLOBAL */
/* BTN CONTROLS */
/* HEADER */
/* --> TITLE */
/* --> GIF */
/* MESSAGES */
/* MAIN BTN CONTAINER */
/* ALL THE VARIOUS BOARDS/ZONES/GRIDS */
/* --> FULL-BOARDS */
/* ----> PLAYER NUMBER TEXT */
/* ----> PLACE SHIPS, DEPLOYMENT ZONE & TARGET ZONE */
/* SPECIAL HOVER EFFECTS (for deployment and target zones) */
/* MEDIA QUERIES */

/* NOTE: USE <CTRL-F Key Item>, to find CSS that maintains the grids */

/* ***** TABLE OF CONTENTS *********************************** */

/* ROOT/SHARED/GLOBAL */
:root {
  /* Colors */
  --bkgd: #242a2a;
  --bkgd-trans: #242a2a00;
  --bkgd2: #b7c7c8;
  --green: #444e45;
  --text: #212121;
  --sea: #96bccb;
  --line: #ceced6;
  --hit: #aa7763;
  --miss: #58769a;
  --sunk: #524753;
  --loser: #903a3a;
  --player1: #2f2f4f;
  --player1-text: #a8a8b4;
  --player2: #3c4a3e;
  --player2-text: #8f9990;
  --enemy: #febf03;

  --box-shadow-green: 0 5px 10px var(--green);
  --font-fancy: "Black Ops One", sans-serif;
  --font-emoji: "Noto Color Emoji", 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
  --width-master: 90vw;
  --height-width-gif: 20rem;
  --height-width-place-ship-grid: 10.5rem;
  --height-width-radar-screen: 15rem;
  --player-num-width-add-on: 0.5rem;
  --height-width-grid: 18rem;
  --width-margin-offset: -18rem;
  --height-width-grid-cell: 1.8rem;
  --height-svg-ship: 1.8rem;
  --linear-gradient-deg: 5deg;
  --scale-big: 1.05;
  --scale-small: 0.95;
}

.font-fancy {
  font-family: var(--font-fancy);
}

.text-effect-dark {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(0, 0, 0, 0.3),
    2px 2px 3px rgba(0, 0, 0, 0.3);
}

/* BTN CONTROLS */
.btn-a {
  height: 2.25rem;
  width: var(--width-master);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--line);
  border: 0.125rem solid var(--text);
  border-radius: 0.75rem;
  box-shadow: var(--box-shadow-green);
  color: var(--text);
  font-family: var(--font-fancy);
  font-size: 1.25rem;
  margin: 0.25rem 0 0.25rem 0;
  outline: none;
  padding: 0.125rem;
}

.btn-a:hover {
  background-color: var(--enemy);
  transform: scale(var(--scale-big));
}

.btn-a:active {
  background-color: var(--text);
  color: var(--enemy);
  transform: scale(var(--scale-small));
}

#btn-pvsc,
#btn-pvsp {
  height: 3rem;
  font-size: 1.35rem;
}

.btn-b {
  height: 2rem;
  width: 6rem;
  background-color: var(--line);
  border: none;
  border-radius: 1rem;
  box-shadow: var(--box-shadow-green);
  color: var(--text);
  font-family: var(--font-fancy);
  font-size: 1rem;
  margin: 0.3rem;
  outline: none;
  padding: 0.25rem;
}

.btn-b:hover {
  background-color: var(--enemy);
  transform: scale(var(--scale-big));
}

.btn-b:active {
  background-color: var(--text);
  color: var(--enemy);
  transform: scale(var(--scale-small));
}

#btn-unlock-screen {
  background-color: var(--loser);
  color: var(--enemy);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  /* Below, reduces base font size for mobile, a convenient way to backdoor size changes easily, reduce for mobile views */
  font-size: 14px;
  /* Improves text readability for mobile */
  line-height: 1.25;
  /* Prevents mobile browsers from resizing text */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

#app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(
    var(--linear-gradient-deg),
    var(--bkgd),
    var(--bkgd2)
  );
}

/* HEADER */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* --> TITLE */
#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-text-top,
#title-text-bot {
  color: var(--loser);
  font-size: 2.25rem;
  text-transform: uppercase;
}

#title-text-bot {
  text-decoration: overline;
}

#MMM {
  font-size: 0.8125rem;
  text-align: center;
}

/* --> GIF */
#gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: -0.25rem;
  padding: 1rem;
}

.gif {
  height: var(--height-width-gif);
  width: var(--height-width-gif);
  border: 0.5rem solid var(--text);
  border-radius: 50%;
  box-shadow: var(--box-shadow-green);
  filter: grayscale(60%) sepia(60%);
  object-fit: cover;
  object-position: 50%;
  padding: 0.125rem;
}

/* MESSAGES */
#messages {
  height: fit-content;
  width: var(--width-master);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--line);
  border: 0.125rem dashed var(--loser);
  border-radius: 0.75rem;
  box-shadow: var(--box-shadow-green);
  color: var(--loser);
  font-family: var(--font-fancy);
  margin: 0.25rem 0 0.25rem 0;
}

#message-bar {
  display: flex;
  font-size: 1rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  text-align: left;
}

/* MAIN BTN CONTAINER */
#main-btn-container {
  height: auto;
  width: var(--width-master);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-family: var(--font-fancy);
}

/* ALL THE VARIOUS BOARDS/ZONES/GRIDS */
#board-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* --> FULL-BOARDS */
#p1-full-board,
#p2-full-board {
  height: fit-content;
  width: var(--width-master);
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 1.75rem;
  font-family: var(--font-fancy);
  margin-top: 0.25rem;
  padding: 0 0.25rem 0 0.25rem;
  overflow: visible;
  text-transform: uppercase;
}

#p1-full-board {
  background: linear-gradient(
    var(--linear-gradient-deg),
    var(--bkgd-trans),
    var(--player1)
  );
  color: var(--player1-text);
}

#p2-full-board {
  background: linear-gradient(
    var(--linear-gradient-deg),
    var(--bkgd-trans),
    var(--player2)
  );
  color: var(--player2-text);
}

/* ----> PLAYER NUMBER TEXT */
#p1-player-num-text,
#p2-player-num-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bkgd-trans);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 0.125rem;
  text-align: center;
}

/* ----> PLACE SHIPS, DEPLOYMENT ZONE & TARGET ZONE */
#p1-place-ships,
#p2-place-ships {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--font-fancy);
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: none;
}

.radar-screen {
  height: var(--height-width-radar-screen);
  width: var(--height-width-radar-screen);
}

#p1-x5-grid,
#p2-x5-grid {
  height: var(--height-width-place-ship-grid);
  width: var(--height-width-place-ship-grid);
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background-color: var(--sea);
  background-image: url("/src/assets/radarScreen.svg");
  border-radius: 100%;
  margin: 0.125rem;
}

.all-p1-place-ships,
.all-p2-place-ships {
  /* Key Item: SVG ship height */
  height: var(--height-svg-ship);
}

.all-p1-place-ships:hover,
.all-p2-place-ships:hover {
  transform: scale(1.25);
}

.all-p1-place-ships:active,
.all-p2-place-ships:active {
  transform: scale(1.1);
}

#p1-place-ship-btn-container,
#p2-place-ship-btn-container {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}

#p1-place-ships,
#p2-place-ships,
#p1-deployment-zone,
#p2-deployment-zone {
  color: var(--line);
}

#p1-deployment-zone,
#p1-target-zone,
#p2-deployment-zone,
#p2-target-zone {
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-family: var(--font-fancy);
  font-size: 1rem;
  line-height: 1.5;
  overflow: visible;
  text-transform: uppercase;
}

#p1-deployment-zone,
#p2-deployment-zone {
  display: flex;
  border: 0.25rem solid var(--line);
  margin-bottom: 0.5rem;
}

#p1-target-zone,
#p2-target-zone {
  display: none;
  border: 0.25rem solid var(--enemy);
  color: var(--enemy);
  margin-top: 0.5rem;
}

#p1-ship-board,
#p2-ship-board,
#p1-hit-miss-board,
#p2-hit-miss-board,
#p1-target-ship-board,
#p2-target-ship-board,
#p1-target-hit-miss-board,
#p2-target-hit-miss-board {
  height: var(--height-width-grid);
  width: var(--height-width-grid);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

#p1-ship-board,
#p2-ship-board {
  background-color: var(--sea);
}

#p1-target-ship-board,
#p2-target-ship-board {
  background-color: var(--sea);
}

#p1-hit-miss-board,
#p2-hit-miss-board,
#p1-target-hit-miss-board,
#p2-target-hit-miss-board {
  height: var(--height-width-grid);
  width: var(--height-width-grid);
  font-family: var(--font-emoji);
  /* Key Item: Below negative margin-top is the key to getting the proper grid overlap */
  margin-top: var(--width-margin-offset);
}

.ship-cells1,
.ship-cells2,
.ship-target-cells1,
.ship-target-cells2,
.hit-miss-cells1,
.hit-miss-cells2,
.hit-miss-target-cells1,
.hit-miss-target-cells2 {
  /* Key Item: Grid cell size */
  height: var(--height-width-grid-cell);
  width: var(--height-width-grid-cell);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-emoji);
  /* Key Item: Grid cell font-size */
  font-size: 70%;
  text-align: center;
}

.ship-cells1,
.ship-cells2 {
  border: 0.0785rem dashed var(--line);
}

.ship-target-cells1,
.ship-target-cells2 {
  border: 0.0785rem dashed var(--enemy);
}

.hit-miss-cells1,
.hit-miss-cells2 {
  z-index: 10;
}

.ship {
  /* Key Item: individual ship svg sizes */
  height: var(--height-svg-ship);
}

/* SPECIAL HOVER EFFECTS (for deployment and target zones) */
.mouse-deploy:hover {
  background-color: var(--line);
  border: 0.125rem dashed var(--loser);
  opacity: 0.65;
  transform: scale(1.15);
  transform: scale(var(--scale-big));
}

.mouse-deploy:active {
  border-radius: 50%;
  transform: scale(1);
}

.mouse-target:hover {
  background-color: var(--enemy);
  border: 0.5rem solid var(--loser);
  border-radius: 50%;
  opacity: 0.6;
  transform: scale(1.75);
}

.mouse-target:active {
  border-radius: 50%;
  transform: scale(1);
}

/* MEDIA QUERIES */
@media only screen and (width >= 400px) {
  :root {
    --width-master: 25rem;
    --gif-variable: 3rem;
    --height-width-gif: calc(var(--width-master) - var(--gif-variable));
  }
}

@media only screen and (width >= 600px) {
  :root {
    --width-master: 26rem;
  }

  html,
  body {
    font-size: 16px;
    line-height: 1.25;
  }

  #title-text-top,
  #title-text-bot {
    font-size: 2.65rem;
  }

  #MMM {
    font-size: 0.95rem;
  }

  .btn-a {
    height: 2.5rem;
    font-size: 1.25rem;
    gap: 0.25rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.125rem;
  }

  #btn-pvsc,
  #btn-pvsp {
    height: 3.25rem;
    font-size: 1.35rem;
    margin: 0.25rem;
  }

  #messages {
    margin-top: 1rem;
  }

  #main-btn-container {
    gap: 0.5rem;
  }
}

@media only screen and (width >= 800px) {
  :root {
    --width-master: 27rem;
  }

  html,
  body {
    font-size: 18px;
    line-height: 1.25;
  }

  #title-text-top,
  #title-text-bot {
    font-size: 2.75rem;
  }

  #MMM {
    font-size: 0.975rem;
  }
}
